@charset "UTF-8";
/*Обнуление*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  max-width: 100%;
  height: 100%;
}
a {
    text-decoration: none; 
}
ul,
ol,
li {
    list-style: none;
}
.block{
    background: url("https://wenizay.com/_pu/25/80013100.jpg") 0 0 no-repeat;
    background-position: center;
    background-size: 100%;
    overflow: hidden;
    position:static;
    font-family: "Poppins", sans-serif; 
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    color:rgb(0, 255, 0);
    height: 100%;

}
.block li{
    background-color:rgba(0, 0, 0, 0.225);
    border-radius:30rem;
}
.img{
    display: flex;
    flex-direction:column; 
    width: 2.5%;
}
.img li{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    border-radius: 100%;
    overflow: hidden;
    position: static;
}
.users{
    display: flex;
    flex-direction:column;
    width: 35%;
    color: rgb(212, 249, 0);
    /*flex: 1 1 22.75%;*/
}
.users li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mb_dead{
    display: flex;
    flex-direction:column;
    width: 15%;
    /*flex: 1 1 9.75%;*/
}
.mb_dead li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mb_beast{
    display: flex;
    flex-direction:column;
    width: 15%;
    color: rgb(212, 249, 0);
    /*flex: 1 1 9.75%;*/
}
.mb_beast li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.value{
    display: flex;
    flex-direction:column;  
    width: 10%;
    /*flex: 1 1 6.5%;*/
}
.value li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.data{
    display: flex;
    flex-direction:column;
    width:17.55%;
    font-size: 0.7rem;
    /*flex: 11.4075%;*/
}
.data li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.result{
    display: flex;
    flex-direction:column;  
    width:5%;
    font-size: 2rem;
    /*flex: 1 1 3.25%;*/
}
.result li{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
}
